.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg-base);
  width: 100%;
  position: relative;
}

.layout {
  position: relative;
  display: flex;
  flex: 1;
  min-height: 0;
  width: 100%;
  z-index: 10;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: var(--glow-bottom-right), var(--glow-bottom-left);
  opacity: 0.5;
  z-index: 1;
  pointer-events: none;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 100vh;
  position: relative;
  z-index: 10;
}
